*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('../img/fundo.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100dvh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 

  nav a {
    text-decoration: none;
    font-size: 20px;
    margin-inline: 5px;
    color: white;
    padding: 30px;
    border-radius: 5px;
  }

    nav a:hover {
      text-decoration: underline;
  }

  .logo {
      width: 5vw;
      margin-left: 10px;
  }

  ul{
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .fundo, .fundo-contatos, .fundo-sobre, .fundo-feedback {
      background-image: url("../img/fundo.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100dvh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      text-shadow: 1px 1px 3px black;
  }
  
  .fundo-contatos{
    background-image: url('../img/contatosss.png');
  }
  .fundo-sobre{
     background-image: url('../img/sobrenosss.png');
  }
  .fundo-feedback{
    background-image: url('../img/feedbackk.png');
  }